*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/.idea/compiler.xml
/app/.idea/copyright/profiles_settings.xml
/app/.idea/encodings.xml
/app/.idea/gradle.xml
/app/.idea/misc.xml
/app/.idea/modules.xml
/app/.idea/runConfigurations.xml
/app/.idea/workspace.xml
/app/gradle/wrapper/gradle-wrapper.jar
/app/gradle/wrapper/gradle-wrapper.properties
/app/gradlew
/app/gradlew.bat
/app/local.properties
/app/*.apk
/app/app-release.apk